@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.main-div {
  font-family: "Kumbh Sans";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  background-color: hsl(273, 75%, 66%);
}

.card {
  display: flex;
  max-width: 32.7rem;
  flex-direction: column;
  gap: 1rem;
  border-radius: 2.3rem;
  background: #fff;
  box-shadow: 0px 50px 50px -20px rgba(53, 18, 122, 0.5);
  margin: 0 2.4rem;
  padding: 13.2rem 2.4em 4.8rem 2.4rem;
}
